<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900261139215-rl41cesuqnm1a3unst4v036uf9rmljml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900261139215-rl41cesuqnm1a3unst4v036uf9rmljml</string>
	<key>API_KEY</key>
	<string>AIzaSyDKVv1e45sJKRjPlAXvcD2ME3R_FObfkOk</string>
	<key>GCM_SENDER_ID</key>
	<string>900261139215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ally-esth-jun.InTune</string>
	<key>PROJECT_ID</key>
	<string>intune-e7d33</string>
	<key>STORAGE_BUCKET</key>
	<string>intune-e7d33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900261139215:ios:50b528443b4b31e656647a</string>
	<key>DATABASE_URL</key>
	<string>https://intune-e7d33.firebaseio.com</string>
</dict>
</plist>